{% extends 'base.html' %}
{% block title %}Add Product{% endblock %}
{% block body %}
<div class="container mt-5">
  <h3 class="text-center text-success">Add Agro Product</h3>
  <form method="POST" action="/addagroproducts">
    <input name="username" class="form-control" placeholder="Your Name" required><br>
    <input name="email" class="form-control" placeholder="Your Email" required><br>
    <input name="productname" class="form-control" placeholder="Product Name" required><br>
    <input name="productdesc" class="form-control" placeholder="Product Description" required><br>
    <input name="price" type="number" class="form-control" placeholder="Price" required><br>
    <button class="btn btn-success" type="submit">Add Product</button>
  </form>
</div>
{% endblock %}
